<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="active"  routerLink="home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="" routerLinkActive="active">Events</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="mybooking" routerLinkActive="active">My Bookings</a>
        </li>
      </ul>
     
      <!-- Left links -->
      
    </div>
    <div class="d-flex align-items-center" *ngIf="userobj.UserId == 0">
      <button   type="button" class="btn btn-success px-3 me-2" (click)="openPopUp()">
        Login
      </button>
       
    </div> 
    <div class="d-flex align-items-center" *ngIf="userobj.UserId != 0">
      <button   type="button" class="btn btn-success px-3 me-2" (click)="logOff()">
        Logoff
      </button>
       
    </div> 
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<router-outlet></router-outlet>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #model>
    <div class="modal-dialog mt-4">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!isLoginForm" id="exampleModalLabel">Login</h5>
          <h5 class="modal-title" *ngIf="isLoginForm" id="exampleModalLabel">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopUp()"></button>
        </div>
        <div class="modal-body">
           <form id="loginFrm" *ngIf="!isLoginForm">
                  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" name="ContactNo" [(ngModel)]="loginobj.ContactNo" class="form-control form-control-lg"
                      placeholder="Enter a valid Contact" />
                    <label class="form-label" >Contact No </label>
                  </div>
      
                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" name="Password" [(ngModel)]="loginobj.Password" class="form-control form-control-lg"
                      placeholder="Enter password" />
                    <label class="form-label" >Password</label>
                  </div>
      
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" (click)="onLogin()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a (click)="isLoginForm = true" class="link-danger"
                        >Register</a></p>
                  </div>
      
                </form>
                <form id="registerFrm" *ngIf="isLoginForm">
                  
                  <!-- Email input -->
                  <div class="form-outline ">
                    <label class="form-label" >Email address</label>
                    <input required type="email" name="Email" [(ngModel)]="userobj.Email" class="form-control form-control-lg"
                      placeholder="Enter email" />
                  </div>
                  <div class="form-outline ">
                    <input type="text" name="Name" [(ngModel)]="userobj.Name" class="form-control form-control-lg"
                      placeholder="Enter Full Name" />
                    <label class="form-label" >Full Name</label>
                  </div> 
                  <div class="form-outline ">
                    <input type="text"  name="ContactNo" [(ngModel)]="userobj.ContactNo" class="form-control form-control-lg"
                      placeholder="Enter Contact" />
                    <label class="form-label" >Contact No</label>
                  </div> 
                  <div class="form-outline">
                    <input type="password" name="Password" [(ngModel)]="userobj.Password" class="form-control form-control-lg"
                      placeholder="Enter password" />
                    <label class="form-label" >Password</label>
                  </div> 
                 
      
                  <div class="text-center text-lg-start mt-2 pt-2">
                    <button type="button" class="btn btn-primary btn-lg" (click)="onRegister()" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">If You Alreay Have an Account? <a (click)="isLoginForm = false" class="link-danger"
                        >Login</a></p>
                  </div>
      
                </form>
        </div>
        
      </div>
    </div>
  </div>